body {
    text-align: center;
}

h3 {
    margin: 50px;
}
.fixed {
    bottom: 0px;
    left: 0px;
    position: fixed;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  background-color: #333;
  /* overflow: hidden;
  height:54px; */
}
.container {
  /* max-width: 1057px; */
  width:100%;
  margin: 0px auto;
}

/* Style the links inside the navigation bar */
.topnav a{
  /* float: left; */
  color: #d0dadb;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

.topnav div{
  color: #d0dadb;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}
/* .topnav .floatright{
  float: right !important;
} */

.topnav input[type=text] {
  border: none;
  font-size: 17px;
  width:300px;
}
.topnav button {
  padding: 5px 8px;
  background:  #0079ad;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav button i, .topnav a i {
  color: white;
  padding-right: 6px;
}


/* Change the color of links on hover */
.topnav a:hover {
background-color: rgb(24, 134, 224);
color: rgb(19, 52, 199);
}

/* Add a color to the active/current link */
.topnav a.active {
/* background-color: rgb(15, 143, 182); */
color: white;
}

/* .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #4CAF50;
    color: white;
  } */
